@import url('https://fonts.googleapis.com/css?family=Shrikhand&display=swap');

$color1: #ff9900;

* {
  font-family: 'Shrikhand', cursive;
  font-size: 28px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-right: 300px; /* Same as the width of the sidenav */
  padding: 15px;
}

#main-logo {
  width: 400px;
  margin: 40px;
}


// SIDE NAVIGATION ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
#sidenav-logo {
  width: 300px;
  padding: 40px;
  display: block;
  // margin: auto;
  background-color: $color1;
}




.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black;
  // overflow-x: hidden;
  // padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: black;
  background-color: white;
}

// .main {
//   margin-right: 300px; /* Same as the width of the sidenav */
//   font-size: 28px; /* Increased text to enable scrolling */
//   padding: 0px 10px;
// }






//•••••••••••••••••••••••••••••••••••••••••••••••••••••••••
#contact.container {
  a {
    display: block;
  }

  p {
    text-align: center;
  }
}
